name: Lint

on:
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup Node.js
        uses: actions/setup-node@v2.1.1
        with:
          node-version: '14'
      - name: Install dependencies
        run: npm install
      - name: Lint ESLint
        run: npm run lint:eslint
      - name: Lint Prettier
        run: npm run lint:prettier
